*{
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: c;
}


.logo{
    height: 100px;
    margin-left: 50px;  
}
.container-fluid a {
  color: white;
  text-decoration: none;
  margin-left: 1vw;
}

.navbar .nav-link.user {
  margin-left: auto; 
  margin-right: 10px; 
}
.container-fluid a:hover{
  color: #ccff00;
}
.d-flex{
  margin-right: 20px;
}
